# --------------------
# Node / Expo
# --------------------
node_modules/
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
/ios
/android
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Env files
.env
.env*.local

# TypeScript
*.tsbuildinfo

# Examples
app-example

# --------------------
# Python Backend
# --------------------
venv/
__pycache__/
*.pyc
